[project]
	description = dReal: An SMT Solver for Nonlinear Theories of the Reals
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Soonho Kong (soonhokong)
[access "refs/for/refs/*"]
	read = group user/Soonho Kong (soonhokong)
	push = group user/Soonho Kong (soonhokong)
	label-Code-Review = -2..+2 group user/Soonho Kong (soonhokong)
	label-Verified = -1..+1 group user/Soonho Kong (soonhokong)
	rebase = group user/Soonho Kong (soonhokong)
	removeReviewer = group user/Soonho Kong (soonhokong)
	submit = group user/Soonho Kong (soonhokong)
[access "refs/heads/*"]
	read = group user/Soonho Kong (soonhokong)
	create = group user/Soonho Kong (soonhokong)
	push = +force group user/Soonho Kong (soonhokong)
	pushMerge = group user/Soonho Kong (soonhokong)
[access "refs/tags/*"]
	push = +force group user/Soonho Kong (soonhokong)
	pushTag = group user/Soonho Kong (soonhokong)
	pushSignedTag = group user/Soonho Kong (soonhokong)
